.auth-wrapper {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 400px;

  .title-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
    align-items: center;

    h1 {
      text-transform: uppercase;
    }

    h5 {
      font-weight: 400;
    }
  }

  & > *:not(.title-wrapper) {
    max-width: 315px;
    min-width: 315px;
    margin-inline: auto;
  }

  .input-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 24px;
  }
}
