<auth-common-wrapper>
  <div class="auth-wrapper">
    <div class="title-wrapper">
      <h1>Esqueci senha</h1>
    </div>

    <div class="input-container">
      <div class="input-wrapper">
        <h5>Email</h5>
        <input type="text" placeholder="Enter your E-mail">
      </div>
    </div>

    <button class="primary-button">Enviar Email</button>
  </div>

  <div class="image-wrapper">
    <img class="fit-image" src="assets/images/auth.png" alt="">
  </div>

</auth-common-wrapper>
