<auth-common-wrapper>
  <div class="auth-wrapper" [formGroup]="form">
    <div class="title-wrapper">
      <h1>Bem-vindo de volta</h1>
      <h5>Bem-vindo! Por favor insira seus dados.</h5>
    </div>

    <div class="input-container">
      <div class="input-wrapper">
        <h5>Email</h5>
        <input formControlName="username" type="text" placeholder="Enter your E-mail">
      </div>
      <div class="input-wrapper">
        <h5>Senha</h5>
        <input formControlName="password" type="password" placeholder="*********">
      </div>
    </div>

    <div class="forgot-password-container">
      <div class="checkbox-wrapper">
        <input type="checkbox" checked>
        <mat-checkbox></mat-checkbox>
        <span>Lembra de mim</span>
      </div>
      <span class="forgot-password">Esqueci Senha?</span>
    </div>

    <button [disabled]="form.invalid" (click)="submit()" class="primary-button">Logar</button>

    <p class="subscribe">Não possui senha? <span (click)="onRegister()">Se inscreva!</span></p>
  </div>

  <div class="image-wrapper">
    <img class="fit-image" src="assets/images/auth.png" alt="">
  </div>

</auth-common-wrapper>
