.image-wrapper {
  width: 50% !important;
}

@media (max-width: 1100px) {
  .auth-wrapper {
    width: 100%;
    max-width: 100%;
  }

  .image-wrapper {
    display: none;
  }
}

.auth-wrapper {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 400px;

  .title-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
    align-items: center;

    h1 {
      text-transform: uppercase;
    }

    h5 {
      font-weight: 400;
    }
  }

  & > *:not(.title-wrapper) {
    max-width: 315px;
    min-width: 315px;
    margin-inline: auto;
  }

  .input-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 24px;
  }

  .forgot-password-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 16px;
    align-items: center;

    span {
      font-size: 12px;
      font-weight: 700;
    }

    .forgot-password {
      cursor: pointer;
      transition: .2s;

      &:hover {
        color: var(--clr-primary);
      }
    }

    .checkbox-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      transform: translateX(-8px);
    }
  }

  .primary-button {
    margin-bottom: 24px;
  }

  .subscribe {
    font-size: 12px;
    text-align: center;
    color: var(--clr-neutral-500);
    font-weight: 600;

    span {
      color: var(--clr-primary);
      cursor: pointer;
    }
  }
}
