<auth-common-wrapper>
  <div class="auth-wrapper" [formGroup]="form">
    <div class="title-wrapper">
      <h1>Registre-se</h1>
      <h5>Por favor insira seus dados.</h5>
    </div>

    <div class="input-container">
      <div class="input-wrapper">
        <h5>Email</h5>
        <input formControlName="email" type="text" placeholder="Enter your E-mail">
      </div>
      <div class="input-wrapper">
        <h5>Senha</h5>
        <input formControlName="password" type="password" placeholder="*********">
      </div>
      <div class="input-wrapper">
        <h5>Nome</h5>
        <input formControlName="firstname" type="password" placeholder="Enter your name">
      </div>
      <div class="input-wrapper">
        <h5>Sobrenome</h5>
        <input formControlName="lastname" type="password" placeholder="Enter your name">
      </div>
    </div>

    <button [disabled]="form.invalid" (click)="submit()" class="primary-button">Registre-se</button>
  </div>

  <div class="image-wrapper">
    <img class="fit-image" src="assets/images/auth.png" alt="">
  </div>

</auth-common-wrapper>
