.auth-common-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;

  * {
    width: 50% !important;
  }

  & > * {
    width: 50% !important;
    max-width: 50% !important;
    min-width: 50% !important;
  }
}
