@charset "utf-8";

:root {
  --clr-primary: #EA454C;

  --clr-neutral-400: #e8e8e8;
  --clr-neutral-500: #636364;
  --clr-neutral-800: #181818;
  --clr-neutral-900: #030303;
}

*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

body {
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Poppins', serif;
}

a, button {
  cursor: revert;
}

ol, ul, menu {
  list-style: none;
}

img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

table {
  border-collapse: collapse;
}

input, textarea {
  -webkit-user-select: auto;
}

textarea {
  white-space: revert;
}

meter {
  -webkit-appearance: revert;
  appearance: revert;
}

:where(pre) {
  all: revert;
}

::placeholder {
  color: unset;
}

::marker {
  content: initial;
}

:where([hidden]) {
  display: none;
}

:where([contenteditable]:not([contenteditable="false"])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

:where([draggable="true"]) {
  -webkit-user-drag: element;
}

h6 {
  font-size: 12px;
}

h5 {
  font-size: 14px;
}

h1 {
  font-size: 32px;
}

//aux

.fit-image {
  width: 100%;
  height: 100%;
}

.default-button {
  width: 100%;
  height: 42px;
}

.input-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;

  h5 {
    color: var(--clr-neutral-800);
    font-weight: 700;
  }

  input {
    padding: 10px 20px;
    border-radius: 12px;
    border: 1px solid var(--clr-neutral-500);
    color: var(--clr-neutral-500);

    &::placeholder {
      font-size: 14px;
    }
  }
}

.primary-button {
  text-align: center;
  height: 42px;
  border-radius: 12px;
  background-color: var(--clr-primary);
  color: white;
  cursor: pointer;
  box-shadow: 0px 4px 10px 0px #E9444B40;
  transition: all .2s;

  &:disabled {
    background-color: var(--clr-neutral-400);
    color: var(--clr-neutral-500);
    box-shadow: none;
    cursor: not-allowed;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mat-mdc-checkbox-touch-target {
  height: 20px !important;
  width: 20px !important;
}
